button {
  background-color: rgba(155, 89, 182,0.4);
  color: white;
  border: solid #9b59b6 2px;
  padding: 14px 40px;
  font-size: 20px;
  border-radius: 4px;
}

button:hover {
  background-color: #9b59b6;
}
