.hero-image-about {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("http://wpimages.freepresshouston.com/2014/12/andrew_wk-2014.jpg");
  height: 1000px;
}
